*,html * {
  font: 12px verdana, sans-serif;
  color: black;
}

strong {
  font-weight: bold;
}

small {
  font-size: 11px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
}

img {
  vertical-align: middle;
  border: 0;
}

table {
  width: 100%;
}

td,th {
  padding: 3px;
  vertical-align: top;
}

th {
  background: #343434;
  color: white;
  text-align: left;
}

td.digit {
  text-align: right;
}

a {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: purple;
}

span.warning {
  font-weight: bold;
  color: maroon;
  font-size: 11px;
}

tr.near td {
  background: #fffac1;
}

tr.line td {
  background: #f7f09f;
}

span.user {
  color: chartreuse;
}

span.native {
  color: lightseagreen;
}


span.Zend {
  color: yellowgreen;
}

span.Corretge {
  color: coral;
}


tr:nth-child(even) {background: ivory;}
tr:nth-child(odd) {background: aliceblue;}

li { 
  line-height: 1.5em;
     padding-top: 0.2em;
     padding-bottom: 0.2em;
        padding-left: 0.2em;
}
li.even {background: ivory;}
li.odd {background: aliceblue;}

li.parm {
  line-height: 1.1em;
  font-family: 'Lucida Console';
  font-size: 0.9em;
}

.func {
  width: inherit;
}


.line {
  position: absolute;
  width: 6%;
  left: 82%;
  vertical-align: top;
  text-align: right;
}

.mem {
  position: absolute;
  width: 5%;
  left: 94%;
  vertical-align: top;
  text-align: right;
}

.time {
  position: absolute;
  width: 6%;
  left: 88%;
  vertical-align: top;
  text-align: right;
}


.pgm {
  font-size: 0.8em;
  font-style: italic;
}